<h1> Heroe <small>Nombre del heroe</small> </h1>

<hr>

<div class="row text-right">
    <div class="col">
        <button 
            routerLink="/heroes"
            class="btn btn-danger">
            <i class="fa fa-arrow-left"> </i>
            Regresar
        </button>
    </div>
</div>


<div class="row animated fadeIn">
    <div class="col">
        <form  (ngSubmit)="guardar(f)"
        #f = "ngForm">

            <div class="form-group">
                <label > Firebase ID</label>
                <input type="text"
                       class="form-control"
                       placeholder="Firebase ID"
                       [(ngModel)]="heroe.id"
                       name="id"
                       disabled="disabled">
                <small class="form-text text-mu">
                    Este es autogenerado
                </small>
            </div>

            <div class="form-group">
                <label > Nombre</label>
                <input type="text"
                       class="form-control"
                       placeholder="Nombre del heroe"
                       [(ngModel)]="heroe.nombre"
                       name="nombre"
                       required>
            </div>

            <div class="form-group">
                <label > Poder</label>
                <input type="text"
                       class="form-control"
                       placeholder="poder del heroe"
                       [(ngModel)]="heroe.poder"
                       name="poder"
                       >
            </div>

            <div class="form-group">
                <label > Estado</label>
                <br>
                <button *ngIf="heroe.vivo" 
                        (click) ="heroe.vivo = false"
                        class="btn btn-outline-success w-50" type="button">
                    <i class="fa fa-smile-wink"></i>
                    Vivo
                </button>
                <button *ngIf="!heroe.vivo" 
                         (click) ="heroe.vivo = true"   
                        class="btn btn-outline-danger w-50" type="button">
                    <i class="fa fa-dizzy"></i>
                    muerto
                </button>
            </div>

        <hr>

        <div class="form-group text-center">
            <button type="submit"
                    class="btn btn-primary"
            >
            <i class="fa fa-save"></i>
            Guardar
            </button>
        </div>

        </form>

    </div>
</div>